*{
    background-size: cover;
    background-position: center;
}
body{
    overflow-x: hidden;
}

address{
    margin: 0;
}

.section-title{
    position: relative;
    text-align: center;
    margin: 4rem 0;
}

.section-title::after, .section-title::before{
    content: '';
    display: block;
    position: absolute;
    bottom: -1rem;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 100px;
    height: 1px;
    background-color: #000000;
}

.section-title::after{
    height: 6px;
    background-color: #37bf91;
    width: 70%;
    max-width: 50px;
    bottom: calc(-1rem - 3px);
    border-radius: 5px;
}

.section-title > span{
    color: #ef5877;
}





/*################## HEADER ################################*/
.top-nav{
    background-color: #37bf91;
    color: #f7f7f7;
    padding: .5rem;
}
.top-nav .container{
    text-align: center;
    align-items: center;
}

.top-nav .container .social-links > a{
    color: #f7f7f7;
    margin: 0 .25rem;
    transition: all ease .5s;
}

.top-nav .container .social-links > a:hover{
    color: #000000;
}

header{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    background-image: url("../img/espacios-verdes.jpg");
}

.menu-slider-wrapper{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.slider{
    flex-grow: 1;
}

.carousel, .carousel-inner, .carousel-item{
    height: 100%;
}

.carousel .carousel-inner .carousel-item:nth-child(1){
    background-image: url("../img/slide1.jpg");
}
.carousel .carousel-inner .carousel-item:nth-child(2){
    background-image: url("../img/slide2.jpg");
}
.carousel .carousel-inner .carousel-item:nth-child(3){
    background-image: url("../img/slide3.jpg");
}

.navigation{
    width: 100%;
    background-color: rgba(0,0,0,.7);
}

.navigation .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation .logo{
    display: flex;
    align-items: center;
    margin: 0;
}
.navigation .logo > img{
    width: 60px;
}

.navigation .logo > figcaption{
    color: #f7f7f7;
    font-size: 2rem;
    font-weight: bold;
    font-style: italic;
    text-decoration: dotted underline #88c63a;
}

.navigation .container{
    position: relative;
}

.navigation .menu ul{
    display: none;
    position: absolute;
    left: 0;
    width: 100%;
    text-align: center;
    padding: .5rem 0 0 ;
    margin-top: .7rem;
    background-color: rgba(0,0,0,.8);
    transition: all ease .5s;
    z-index: 10;
}
.navigation .menu ul li{
    list-style: none;
    margin-bottom: .5rem;
}

.navigation .menu ul li a{
    color: #f7f7f7;
    font-weight: bold;
    transition: all ease 1s;
}

.navigation .menu ul li a:hover{
    color: #ef5877;
}

.navigation .menu ul li a.active{
    color: #ef5877;
}

.banner{
    background-color: rgba(0,0,0,.5);
}

.banner .media > i{
    font-size: 2rem;
}




/*################## main - index.php ################################*/


.stats{
    height: 550px;
    background-image: url("../img/bg.png");
}

.stats table{
    width: 100%;
}

.welcome{}

.certs{
    padding-top: 3rem;
    margin-top: -3rem;
    background-color: #ef5861;
}

.certs .section-title, .advantages .section-title{
    display: inline-block;
    text-align: left;
}
.event figure{
    background-image: url("../img/building.jpg");
    width: 100%;
    min-height: 300px;
}

.advantages{
    background-image: url("../img/slide1.jpg");
}

.advantages .bg{
    background-color: rgba(0,0,0,.7);
}








/*################## FOOTER ################################*/

footer{
    background-image: url("../img/bg_footer.jpg");
}
.partners{
    background-color: rgba(255,255,255,.7);
    padding: 1rem;
    text-align: center;
}
footer .partners > a > img{
    display: inline-block;
    height: 50px;
    margin: .5rem;
    transition: all ease .5s;
}

footer .partners > a:hover > img{
    transform: scale(.8);
}

footer .footer{
    background-color: rgba(0,0,0,.7);
}

footer .social-btns > a{
    display: inline-block;
    width: 25px;
    height: 25px;
    line-height: 25px;
    border-radius: 50%;
    margin-right: .5rem;
    text-align: center;
    color: #f7f7f7;
}
footer .social-btns > a:nth-child(1){
    background-color: #3c5a99;
}
footer .social-btns > a:nth-child(2){
    background-color: #00b0f0;
}
footer .social-btns > a:nth-child(3){
    background-color: #ff593f;
}
footer .social-btns > a:nth-child(4){
    background-color: #006699;
}





/*#################### RESPONSIVE ##################*/

@media screen and (min-width: 576px) {
    .top-nav .container{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .event{
        flex-wrap: nowrap !important;
    }
    .event figure{
        width: 50%;
        min-height: auto;
    }
    .event > div{
        width: 50%;
        margin-left: 2rem;
    }
}


@media screen and (min-width: 768px){
    #menu{
        position: static;
        display: flex;
        background-color: transparent;
    }
    #menu li{
        margin-left: 10px;
    }
    #btn-menu{
        display: none;
    }
}




